@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-primary: #5048e5;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121121;
  --font-display: "Inter", sans-serif;
  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
